*{
    margin: 0;
    background-color: black;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
#root:-webkit-scrollbar-thumb{
    background-color: white;
    color: aliceblue;
}
